// nextflow.config

// Define pipeline parameters with default values
params {
    // Input/Output Options
    outdir = "${baseDir}/../Two_Step_Imputation_Results"
    cohorts_csv = "${baseDir}/Cohorts_Info.csv"

    // Reference Files
    fasta = '/workspaces/Two_Step_Imputation/dependencies/human_g1k_v37.fasta'
    gmap = '/workspaces/Two_Step_Imputation/dependencies/genetic_map_hg19.txt.gz'

    // Tool Paths (only used if not using conda/docker)
    bcftools = '/workspaces/Two_Step_Imputation/Package_Program/bcftools/bcftools-1.14/bcftools'
    tabix = '/workspaces/Two_Step_Imputation/Package_Program/htslib/htslib-1.14/tabix'
    minimac4 = '/workspaces/Two_Step_Imputation/Package_Program/minimac/minimac4-4.1.4-Linux-x86_64/bin/minimac4'
    eagle = '/workspaces/Two_Step_Imputation/Package_Program/eagle/Eagle_v2.4.1/eagle' 
    vcftools = 'vcftools'
    perl = 'perl'
    rscript = 'Rscript'

    // Script Paths (Relative to the pipeline launch directory or absolute)
    extract_info_pl = "${baseDir}/extract_info_VCF.pl"
    snp_select_r = "${baseDir}/SNP_Selection.R"

    // Pipeline Specific Parameters (from original config.sh)
    cpus = 1
    rounds = 5
    
}

// Define Process specific configurations
process {
    // Default cpus and memory
    cpus = { params.cpus }
    memory = '1.GB'

    // Error strategy
    errorStrategy = 'finish'

    withName: 'FILTER_VCF' {
        conda = "bioconda::vcftools=0.1.16"
    }

    withName: 'PREPARE_R_INPUT|RUN_R_SELECT' {
        conda = "r-base=4.4.1 conda-forge::perl=5.26.2 conda-forge::r-tidyverse conda-forge::r-data.table"
    }
}

// Enable conda
conda {
    enabled = true
    cacheDir = "${baseDir}/conda"
    createTimeout = "60 min"
}

// Define Executor
executor {
    name = 'local'
    cpus = params.cpus
}

// Enable pipeline reporting options
timeline {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/timeline.html"
}
report {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/report.html"
}
trace {
    overwrite = true
    enabled = true
    file = "${params.outdir}/pipeline_info/trace.txt"
    fields = 'task_id,name,status,exit,duration,realtime,%cpu,%mem,rss,vmem,rchar,wchar,syscr,syscw,read_bytes,write_bytes'
}

// Manifest information
manifest {
    name = 'UNION-nf'
    description = 'Nextflow implementation of the Two-Step Imputation pipeline'
    author = 'Khoa Ho'
    mainScript = 'main.nf'
    nextflowVersion = '>=21.10.5'
    version = '1.0.0'
} 