// nextflow.config

// Define configuration profiles
profiles {
    test_server {
        params {
            // Input/Output Options
            outdir = "${baseDir}/../results"
            // this is input hehe
            cohorts_csv = "${baseDir}/Cohorts_Info.csv"

            // Reference Files
            fasta = '/path/to/human_g1k_v37.fasta'

            // Tool Paths (not through conda)
            bcftools = 'path/to/bcftools'
            tabix = '/path/to/tabix (included in htslib)'
            bgzip = '/path/to/bgzip (included in htslib)'
            minimac4 = '/path/to/minimac4'
            eagle2 = '/home/path/to/eagle' 
            beagle5 = '/home/path/to/beagle/jar'
            shapeit5 = '/path/to/shapeit5/phase_common_static'
            bref3 = '/home/path/to/beagle5/bref3.jar'
            gmap_beagle5 = '/path/to/beagle5/gmap'
            gmap_eagle2 = '/path/to/eagle/gmap'
            gmap_shapeit5 = '/path/to/shapeit5/gmap'


            // Original scripts (minor edits)
            snp_select_r = '/path/to/SNP_Selection.R'
            extract_info_pl = '/path/to/extract_info_VCF.pl'
            extract_info_pl_beagle5 = '/path/to/extract_info_VCF_beagle5.pl'

            // Tool that are through conda
            vcftools = 'vcftools'
            perl = 'perl'
            rscript = 'Rscript'

            // Phaser and Imputer options
            phaser   = 'eagle2'      // Options: 'eagle2', 'shapeit5'
            imputer  = 'minimac4'   // Options: 'minimac4', 'beagle5'

            // Pipeline Specific Parameters (from original config.sh)
            cpus = 1
            minimac4_rounds = 5
            max_cpus = 12
            max_memory = '8.GB'

            chromosomes = 1..22

            run_id = "${phaser}_${imputer}"
        }

    }

}

// let him cook the rest
includeConfig 'base.config'